.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 20px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 0 20px;
}

.meme {
  max-width: '20em';
  max-height: '20em';
}
